%p#notice= notice
%h1
  = "Your Ads"
  %small= link_to "Create New", new_account_ad_path
%ul
  - @ads.each do |ad|
    %li
      %h2= link_to ad.title, public_ad_path(ad)
      %div= ad.description
      %small= link_to "Edit", edit_account_ad_path(ad)
      %small= link_to "Delete", account_ad_path(ad), method: :delete, data: { confirm: "Are you sure?" }
