!!!5
%html
  %head
    %title Want Ads
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1.0'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1= link_to 'Want Ads', root_url
      - if user_signed_in?
        %h2
          Welcome,
          = link_to current_user.name, account_path
          = link_to 'Log out', logout_path
      - else
        %h2= link_to 'Log In with Twitter', login_path(provider: 'twitter')

    %div#main
      = yield
    %footer
      %small Site content and design by Want Ads. All rights reserved.
